{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-header">
    <strong>{{ records.first_name }} {{ records.last_name }} </strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Email: {{ records.email }}</strong>
    </p>
    <p class="card-text">
      <strong>Phone: {{ records.phone }}</strong>
    </p>
    <p class="card-text">
      <strong>Address: {{ records.address }}</strong>
    </p>
    <p class="card-text">
      <strong>City: {{ records.city }}</strong>
    </p>
    <p class="card-text">
      <strong>State: {{ records.state }}</strong>
    </p>
    <p class="card-text">
      <strong>Zipcode: {{ records.zipcode }}</strong>
    </p>
    <p class="card-text">
      <strong>Created_at: {{ records.created_at }}</strong>
    </p>
    <p class="card-text">
      <strong>Id: {{ records.id }}</strong>
    </p>
  </div>
</div>

<br /><br />

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<a href="{% url 'delete_record' records.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' records.id %}" class="btn btn-secondary">Update Record</a>
{% endblock %}
